<div class="container">
  <div class="col-4 mx-auto">
    <%= render partial: 'posts/post', locals: { post: @post } %>
    <%= render @post.comments %>
    <% if current_user.nil? %>
      <h5>Login to add a comment</h5>
    <% else %>
      <%= render partial: 'comments/form', locals: { post: @post } %>
    <% end %>
  </div>
</div>
